@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #404A3C;
  color: #F4FCF1;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  height: 100vh;
}

textarea {
  resize: none;
  color: #232323;
  padding: 0.5rem;
  border: 1px solid #404A3C;
  border-radius: 5px;
}

input{
  color:#232323;
  padding: 0.5rem;
  border: 1px solid #404A3C;
  border-radius: 5px;
}

.btn-contact{
  border: 1px solid #404A3C;
  border-radius: 5px;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in;
  letter-spacing: 2px;
}

.btn-contact:hover{
  background-color: #729566;
}

.about-card{
  color: #232323;
}

.wave-hand{
  animation: wave-hand 3s infinite;
}

.name-text{
  padding: 64px;
  background: linear-gradient(to right top, #729566, #91ae87, #b1c8a9, #d2e2cd, #f4fcf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
}

@keyframes wave-hand {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(45deg);}
  100% {transform: rotate(0deg);}
  
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  20% {
    background-position: 10rem;
  }
  40% {
    background-position: 20rem;
  }
  60% {
    background-position: 30rem;
  }
  80% {
    background-position: 40rem;
  }
  100% {
    background-position: 50rem;
  }
}

@media (max-width:780px) {

  .app-div{
    background-color: aquamarine;
  }

  .home-div{
    width: 100%;

    h2{
      flex-direction: column;
    }
  }

  nav{
    width: 100%;
    background-color: red;
  }
}