@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #404A3C;
  color: #F4FCF1;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 2px;
}